<h1>Proposez votre recette !</h1>

<div class="autocenter">
  <form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">
    <div class="fields-container">
      <label for="title">Titre</label>
      <input type="text"
             name="title"
             class=""
             placeholder="Titre de votre recette"
             formControlName="title">
    </div>  

    <div class="fields-container">
      <label for="mealType">Type de recette</label>
      <select class="" 
            name="mealType"
            formControlName="mealType">
        <option value="" disabled selected>Sélectionnez le type de recette</option>  
        <option *ngFor="let mealType of mealTypes" [value]="mealType.value">{{ mealType.name }}</option>
      </select>
    </div>

    <div class="fields-container">
      <label for="diffLevel">Difficulté</label>
      <select class="" 
            name="diffLevel"
            formControlName="diffLevel">
        <option value="" disabled selected>Sélectionnez le niveau de difficulté</option>              
        <option *ngFor="let diffLevel of diffLevels" [value]="diffLevel.value">{{ diffLevel.name }}</option>
      </select>
    </div>

    <div class="fields-container">
      <label for="prepDuration">Durée de la préparation : </label>
      <select name="prepDuration" class="numbers-selection" formControlName="prepDurationHour">
        <option *ngFor="let key of 24 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> H</span>

      <select name="prepDuration" class="numbers-selection" formControlName="prepDurationMin">
        <option *ngFor="let key of 60 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> MN</span>
    </div>

    <div class="fields-container">
      <label for="cookDuration">Temps de cuisson : </label>
      <select name="prepDuration" class="numbers-selection" formControlName="cookDurationHour">
        <option *ngFor="let key of 24 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> H</span>
      <select name="prepDuration" class="numbers-selection" formControlName="cookDurationMin">
        <option *ngFor="let key of 60 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> MN</span>
    </div>

    <div class="fields-container">
      <label for="standingTime">Temps de repos : </label>
      <select name="standingTime" class="numbers-selection" formControlName="standingTimeHour">
        <option *ngFor="let key of 24 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> H</span>
      <select name="standingTime" class="numbers-selection" formControlName="standingTimeMin">
        <option *ngFor="let key of 60 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> MN</span>
    </div>

    <div class="fields-container">
      <label for="servings">Nombre de parts / personnes</label>
      <input type="number"
            name="servings"
            class=""
            placeholder="1"
            min="0" 
            formControlName="servings">      
    </div>

    <div class="fields-container">
      <div class="btn btn-success add-ingredient" (click)="addIngredientToIngredientsList()"><span>Ajouter un ingrédient </span><i class="glyphicon glyphicon-plus"></i></div>
    </div>

    <div formGroupName="ingredient" class="well well-lg">
      <h4 class="text-center">Ajouter un ingrédient</h4>
      <div class="form-group">
        <label class="center-block">Quantité:
          <input class="form-control" formControlName="quantity">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Unité de mesure:
          <select class="" 
          name="unit"
          formControlName="unit">
            <option *ngFor="let unitOfMeasure of unitsOfMeasure" [value]="unitOfMeasure.value">{{ unitOfMeasure.name }}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Options:
          <select class="" 
          name="option"
          formControlName="option">
            <option *ngFor="let ingOption of ingOptions" [value]="ingOption.name">{{ ingOption.name }}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Nom de l'ingrédient:
          <input class="form-control" formControlName="name">          
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Options complémentaires:
          <select class="" 
          name="spec"
          formControlName="spec">
            <option *ngFor="let spec of ingSpec" [value]="spec.name">{{ spec.name }}</option>
          </select>
        </label>
      </div>
      <button class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Ajouter</button>
      <button class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Supprimer</button>
    </div>

    <!-- <div formArrayName="properties">
    <div *ngFor="let prop of searchForm.get('properties').controls; let i=index">
      <input type="text" class="form-control" [formControlName]="i">
    </div>
  </div> -->

    <div class="fields-container">
    <label for="directions">Préparation</label>
    <textarea name="directions" 
              formControlName="directions"></textarea>        
    </div>

    <button type="submit" class="btn btn-primary">Proposer ma recette</button>
  </form>
</div>

<p>Form Value : {{ recipeForm.value | json }}</p>
<p>Form Status : {{ recipeForm.status | json }}</p>