<div class="main-form row">
  <h1 class="text-center">Proposez votre recette !</h1>
  <form [formGroup]="recipeForm" (ngSubmit)="createRecipe(recipeForm.value)">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text"
             name="title"
             class="form-control"
             placeholder="Titre de votre recette"
             formControlName="title">
    </div>  

    <div class="form-group">
      <label for="mealType">Type de recette</label>
      <select class="form-control" 
            name="mealType"
            formControlName="mealType">
        <option value="" disabled selected>Sélectionnez le type de recette</option>  
        <option *ngFor="let mealType of mealTypes" [value]="mealType.value">{{ mealType.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="diffLevel">Difficulté</label>
      <select class="form-control" 
            name="diffLevel"
            formControlName="diffLevel">
        <option value="" disabled selected>Sélectionnez le niveau de difficulté</option>              
        <option *ngFor="let diffLevel of diffLevels" [value]="diffLevel.value">{{ diffLevel.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="prepDuration">Durée de la préparation : </label>
      <select name="prepDuration" class="numbers-selection" formControlName="prepDurationHour">
        <option *ngFor="let key of 24 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> H</span>

      <select name="prepDuration" class="numbers-selection" formControlName="prepDurationMin">
        <option *ngFor="let key of 60 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> MN</span>
    </div>

    <div class="form-group">
      <label for="cookDuration">Temps de cuisson : </label>
      <select name="prepDuration" class="numbers-selection" formControlName="cookDurationHour">
        <option *ngFor="let key of 24 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> H</span>
      <select name="prepDuration" class="numbers-selection" formControlName="cookDurationMin">
        <option *ngFor="let key of 60 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> MN</span>
    </div>

    <div class="form-group">
      <label for="standingTime">Temps de repos : </label>
      <select name="standingTime" class="numbers-selection" formControlName="standingTimeHour">
        <option *ngFor="let key of 24 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> H</span>
      <select name="standingTime" class="numbers-selection" formControlName="standingTimeMin">
        <option *ngFor="let key of 60 | formRecipe" value="{{key}}">{{key}}</option>
      </select><span> MN</span>
    </div>

    <div class="form-group">
      <label for="servings">Nombre de parts / personnes</label>
      <input type="number"
            name="servings"
            class="form-control"
            placeholder="1"
            min="0" 
            formControlName="servings">      
    </div>

    <div class="form-group">
      <label for="ingredients">Ingredients :</label>
      <br>      
      <div class="btn btn-success add-ingredient" (click)="createIngredientForm()"><span>Ajouter un ingrédient </span><i class="glyphicon glyphicon-plus"></i></div>
    </div>

    <div formGroupName="ingredients" class="well well-lg" (submit)="addIngredientToIngredientsList()">
      <h4 class="text-center">Ajouter un ingrédient</h4>
      <div class="form-group">
        <label class="center-block">Quantité:
          <input class="form-control" formControlName="quantity">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Unité de mesure:
          <select class="" 
          name="unit"
          formControlName="unit">
            <option *ngFor="let unitOfMeasure of unitsOfMeasure" [value]="unitOfMeasure.value">{{ unitOfMeasure.name }}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Options:
          <select class="" 
          name="option"
          formControlName="option">
            <option *ngFor="let ingOption of ingOptions" [value]="ingOption.name">{{ ingOption.name }}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Nom de l'ingrédient:
          <input class="form-control" formControlName="name">          
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Options complémentaires:
          <select class="" 
          name="spec"
          formControlName="spec">
            <option *ngFor="let spec of ingSpec" [value]="spec.name">{{ spec.name }}</option>
          </select>
        </label>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-info btn-ing"><i class="glyphicon glyphicon-plus"></i></button>
        <button class="btn btn-default btn-ing"><i class="glyphicon glyphicon-minus"></i></button>        
      </div>
    </div>

    <!-- <div formArrayName="properties">
    <div *ngFor="let prop of searchForm.get('properties').controls; let i=index">
      <input type="text" class="form-control" [formControlName]="i">
    </div>
  </div> -->

    <div class="form-group">
    <label for="directions">Préparation</label>
    <textarea name="directions" 
              formControlName="directions"
              class="form-control"></textarea>        
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i> Proposer ma recette</button>
      <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Annuler</button>   
    </div>
  </form>
</div>

<p>Form Value : {{ recipeForm.value | json }}</p>
<p>Form Status : {{ recipeForm.status | json }}</p>
<p>Ingredients name : {{ recipeForm.get('ingredients.name').value }}</p>