<div id="nav-header">
    <div class="nav-container">
        <div id="logo-header">
            <a href="#" routerLink="/">
                <img src="{{ logoUrl }}" alt="logo-only">
                <div class="site-title">{{ siteTitle }}</div>
            </a>
        </div>

        <nav id="navbar-header">
            <ul>
                <li><a href="#" routerLink="/rechercher" routerLinkActive="activeLink">Rechercher</a></li>
                <!-- <li><a href="#" routerLink="/recettes/vegetariennes" routerLinkActive="activeLink">Vegetarien</a></li>
                <li><a href="#" routerLink="/recettes/vegan" routerLinkActive="activeLink">Vegan</a></li> -->
                <li><a href="#" routerLink="/proposer-une-recette" routerLinkActive="activeLink">Proposer une recette</a></li>
                <li><a href="#" routerLink="/contact" routerLinkActive="activeLink">Contact</a></li>
                <li><a href="#" routerLink="/profil" routerLinkActive="activeLink"><i class="glyphicon glyphicon-user"></i></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="child-component">
    <router-outlet></router-outlet>    
</div>
