/* @-webkit-keyframes blink {
    0% { color: white; }
    50% { color: rgb(73, 182, 73) }
    100% { color: white; }
}

@keyframes blink {
    0% { color: white; }
    50% { color: rgb(73, 182, 73) }
    100% { color: white; }
} */

.child-component{
    background: url('/assets/images/background.png');    
}

.activeLink{
    text-shadow: 1px 1px 2px black;
}

.nav-container{
    width: 80%;
    margin: 0 auto;
}

#nav-header{
    background-color : rgba(0,0,0,0.2);
    background-color : hsla(0,0%,0%,0.2);
    color: White;    
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#nav-header a{
    text-decoration: none;
    color: White;
    position: relative;     
}

#nav-header a:hover{
    color: White;
}

#nav-header a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#nav-header a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

#logo-header,
#logo-header a>*{
    float:left;
}

#logo-header{
    font-family: 'VeggieLogo', sans-serif; 
    width: 40%;
    font-size: 4em;
    line-height: 8rem;
}

#logo-header img{
    max-width: 75px;
    padding: 10px;
}

/* #logo-header .site-title{
    animation: blink 10s linear infinite;
    -webkit-animation: blink 10s linear infinite;
} */

#navbar-header{
    float: right;
    line-height: 8rem;
    text-align: right;
}

#navbar-header ul{
    padding: 0;
    margin: 0;
}

#navbar-header ul li{
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}

#nav-header>div.nav-container:after{
    content: "";
    clear: both;
    height: 0;
    display: block;
    overflow: hidden;
}