/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'VeggieTitles';
    src: url('/assets/fonts/veggie_font-titles.woff') format('woff'),
         url('/assets/fonts/veggie_font-titles.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'VeggieLogo';
    src: url('/assets/fonts/veggie_font-logo.woff') format('woff'),
         url('/assets/fonts/veggie_font-logo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.gen-container{
    width: 900px;
    margin: 0 auto;
}

body{
    margin: 0;
    padding: 0;    
    background: url('/assets/images/background.png');
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;  
}    

h1, h2, h3, h4, h5, h6 {
    font-family: "VeggieTitles", sans-serif;
    font-weight: 900;
}

label{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

