.search-input{
    padding-top: 200px;
    text-align: center;
    font-size: 0;
}

.search-input h1{
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    padding-bottom: 1em;
}

.search-container{
    max-width: 900px;
    margin: 0 auto;
}

.search-input>.v-align{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

.search-input .v-align button,
.search-input .v-align input{
    border: none;
}

.search-input .v-align input{
    padding: 0;
    height: 100px;
    width: 85%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: initial;
    padding-left: 1.8em;
    border: solid 1px grey;
}

.search-input .v-align button{
    height: 100px;
    width: 15%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: initial;
    padding-right: 0.4em;
    border: solid 1px grey;
    text-align: center;
}